body{
	background-color: #E8E8E7;
	margin: 0 auto;
	font-family: "Doppio One";

}
div .imag{
	/*padding-bottom: 10px;*/
	border-bottom: 10px solid #8BCC98;
}
div .txtencab{
	position: fixed;
	transform: translate(100%,-150%);
	color: #ffffff;
	border: 1px solid #ffffff;
	text-align: center;
	padding: 15px;
	padding-left: 40px;
	padding-right: 40px;
}
h1{
	font-size: 100px;
	padding-bottom: 0;
	margin: 0 auto;

}
h2{
	text-transform: uppercase;
	padding-top: 0;
}
.title2{
	font-weight: normal;
}
div .encabimg{
	padding-top: 10px;

}
img{
	position: relative;
	padding-bottom: 10px;
	margin: 0 26.5%;
}

div .content{
	background-color: #ffffff;
	margin: 0 auto;
	margin-left: 30%;
	margin-right: 30%;
	padding: 0 10px;
	color: #635656b0;
}
.content p{
	text-indent: 5em;
}
