.titletxt{
  text-transform: uppercase;
  color: #131A2D;
  text-align: right;
}
h1{
  font-size: 50px;
  margin-top: 10px;
  margin-bottom: 0;
}
.titleencab{
  border-bottom: 5px solid #D0C4AB;
  margin-bottom: 20px;
  position: sticky;
  top: 0;
  background-color: #ffffff;
}
.titleimg{
  position: absolute;
}
.bodypag{
  background-color: #131A2D;
  color: #D0C4AB;
}
a{
  color: #D0C4AB;
  text-decoration: none;
}
.imgbody img{

}
.bodyimgs{
  text-align: center;
}
